{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="main-container">
        <section class="bg--secondary space--sm">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="boxed boxed--lg boxed--border">
                            <div class="text-block text-center">
                                <img alt="avatar" src="/media/{{ object.profile_picture }}" class="image--md"/>
                                <span class="h5">{{ object.username }}</span>
                                {% if object.get_full_name %}
                                    <span class="h5">{{ object.get_full_name }}</span>
                                {% endif %}

                                {% if is_owner %}
                                    <a class="btn btn--primary btn--sm" href="{% url 'edit user' pk=object.pk %}">
                                        <span class="btn__text">Edit Profile</span>
                                    </a>

                                    <div class="modal-instance">
                                        <a class="btn btn--sm btn-danger modal-trigger" href="#">
                                            <span class="btn__text modal-trigger">Delete Profile</span>
                                        </a>
                                        <div class="modal-container">
                                            <div class="modal-content section-modal">
                                                <section class="unpad ">
                                                    <div class="container">
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-6 col-12">
                                                                <div class="feature feature-1">
                                                                    <div class="feature__body boxed boxed--lg boxed--border text-center">
                                                                        <div class="modal-close modal-close-cross"></div>
                                                                        <div class="text-block">
                                                                            <p>
                                                                                Are you sure you want to delete your
                                                                                account?
                                                                            </p>
                                                                        </div>
                                                                        <form method="post"
                                                                              action="{% url 'delete user' %}">
                                                                            {% csrf_token %}
                                                                            <button type="submit"
                                                                                    class="btn btn--primary btn--sm">
                                                                                <span class="btn__text">Yes</span>
                                                                            </button>
                                                                            <!--end of row-->
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <!--end feature-->
                                                            </div>
                                                        </div>
                                                        <!--end of row-->
                                                    </div>
                                                    <!--end of container-->
                                                </section>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                            <div class="text-block clearfix text-center">
                                <ul class="row row--list">
                                    <li class="col-md-4">
                                        <span class="type--fine-print block">Location:</span>
                                        <span>{{ object.location }}</span>
                                        {#                                            <img alt="Image" class="flag" src="img/flag-1.png">#}
                                    </li>
                                    <li class="col-md-4">
                                        <span class="type--fine-print block">Member Since:</span>
                                        <span>{{ object.date_joined.date }}</span>
                                    </li>
                                    <li class="col-md-4">
                                        <span class="type--fine-print block">Contact:</span>
                                        <span>{{ object.email }}</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="boxed boxed--border">
                            <ul class="row row--list clearfix text-center">
                                <li class="col-md-3 col-6">
                                    <span class="h6 type--uppercase type--fade">Items</span>
                                    <span class="h3">{{ object.items_count }}</span>
                                </li>
                                <li class="col-md-3 col-6">
                                    <span class="h6 type--uppercase type--fade">Auctions</span>
                                    <span class="h3">{{ object.auctions_count }}</span>
                                </li>
                                <li class="col-md-3 col-6">
                                    <span class="h6 type--uppercase type--fade">Bids</span>
                                    <span class="h3">{{ object.bids_count }}</span>
                                </li>
                                <li class="col-md-3 col-6">
                                    <span class="h6 type--uppercase type--fade">Watchlist</span>
                                    <span class="h3">{{ object.watchlist_count }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>
{% endblock %}