{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="main-container">
        <section class="imagebg text-center height-100 parallax" data-overlay="7">
            <div class="background-image-holder"><img alt="background"
                                                      src="{% static 'img/custom/login.jpeg' %}">
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-7 col-lg-5">
                        <h2>Let's create your account</h2>
                        <p class="lead"> Enjoy your auction traveling is one step further away! </p>
                        <form method="post" action="{% url 'register user' %}" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">{{ form.username }}</div>
                                <div class="col-md-12">{{ form.email }}</div>
                                <div class="col-md-12">{{ form.password1 }}</div>
                                <div class="col-md-12">{{ form.password2 }}</div>
                                <div class="col-md-12">{{ form.profile_picture }}</div>
                                <div class="col-md-12">
                                    <button class="btn btn--primary type--uppercase" type="submit">Register</button>
                                    {% csrf_token %}
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
