{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="main-container">
        <section class="imagebg text-center height-300" data-overlay="9">
            <div class="background-image-holder"><img alt="background"
                                                      src="{% static 'img/custom/homepage.jpg' %}">
            </div>
            <div class="container">
                {% if form.errors %}
                    {% for field in form %}

                        {% for error in field.errors %}
                            <div class="alert bg--error">
                                <div class="alert__body">
                                    <span>{{ field.label }}: {{ error|escape }}</span>
                                </div>
                                <div class="alert__close">
                                    ×
                                </div>
                            </div>
                        {% endfor %}

                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <h2>Add your item</h2>
                        <p class="lead"> Please specify information about your item </p>
                        <form method="post" action="{% url 'add item' %}" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">{{ form.title }}</div>
                                <div class="col-md-12">
                                    <select name="category">
                                        {% for cat in categories %}
                                            <option value="{{ cat.id }}">{{ cat.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12">{{ form.item_photo }}</div>
                                <div class="col-md-12">{{ form.approximate_price }}</div>
                                <div class="col-md-12">{{ form.description }}</div>
                                <div class="col-md-12">{{ form.specifications }}</div>
                                <div class="col-md-12">{{ form.condition }}</div>
                                <div class="col-md-12">{{ form.history }}</div>
                                <div class="col-md-12">
                                    <button class="btn btn--primary type--uppercase" type="submit">Add item</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </form>

                    </div>
                </div>
        </section>
    </div>
{% endblock %}